<h1 *ngIf="!isLogScreen">Feed History</h1>
<h1 *ngIf="isLogScreen">Logs</h1>

<p *ngIf="!feedLogs"><em>Loading...</em></p>

<table class='table' *ngIf="feedLogs">
    <thead>
        <tr>
          <th>Time</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let log of feedLogs">
          <td>{{ log.entryTime | date:'dd/MMM/yyyy HH:mm:ss' }}</td>
          <td *ngIf="!isLogScreen">
            <div>
              <a [routerLink]="['/image', pic]" *ngFor="let pic of log.pics">
                <img class="img-rounded" [src]="'uploads/' + pic" width="80" />
              </a>
            </div>
          </td>
          <td *ngIf="isLogScreen">
            <div>
              {{log.content}}
            </div>
          </td>
        </tr>
    </tbody>
</table>
